.idea/
*.iml
.gradle/
.kotlin
build/
.DS_Store
classes/
/site/
out/
store/
intellij-settings/
local.properties
**/scratch.kt

src/docs/documentation/index.md
src/docs/guide/reference/index.md
src/docs/guide/reference/**/index.md
