<b>Welcome to Fake OpenAI. Select a plugin</b>
<ul>
    {{#each plugins}}
        <li><a href="/{{this}}">{{this}}</a></li>
    {{/each}}
</ul>

The plugins use different auth models. The credentials for the user plugin are "sherlock/watson"
