name: Publish Artifacts
'on':
  push:
    tags:
      - '*'
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
jobs:
  StageMC:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.0
      - name: Grab tag name
        uses: olegtarasov/get-tag@v2.1.2
        id: tagName
      - name: Setup Java
        uses: actions/setup-java@v3.10.0
        with:
          distribution: adopt
          java-version: 11
          cache: gradle
      - name: Upload to Sonatype
        run: |
          ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository \
          -Psign=true \
          -PreleaseVersion="${{ steps.tagName.outputs.tag }}" \
          -PsigningKey="${{ secrets.SIGNING_KEY }}" \
          -PsigningPassword="${{ secrets.SIGNING_PASSWORD }}" \
          -PnexusUsername="${{ secrets.NEXUS_USERNAME }}" \
          -PnexusPassword="${{ secrets.NEXUS_PASSWORD }}"
  ReleaseMC:
    needs:
      - StageMC
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.0
      - name: Setup Java
        uses: actions/setup-java@v3.10.0
        with:
          distribution: adopt
          java-version: 11
          cache: gradle
      - name: Release to Maven Central
        run: |
          ./gradlew closeAndReleaseSonatypeStagingRepository \
          -PnexusUsername="${{ secrets.NEXUS_USERNAME }}" \
          -PnexusPassword="${{ secrets.NEXUS_PASSWORD }}"
  Announce:
    needs:
      - ReleaseMC
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Grab tag name
        uses: olegtarasov/get-tag@v2.1.2
        id: tagName
      - name: Dispatch Release Event
        uses: peter-evans/repository-dispatch@v2.1.1
        with:
          token: '${{ secrets.ORG_PUBLIC_REPO_WORKFLOW_TRIGGERING }}'
          repository: http4k/http4k-connect
          event-type: connect-release
          client-payload: '{"version": "${{ steps.tagName.outputs.tag }}"}'
  broadcast-release:
    runs-on: ubuntu-latest
    needs:
      - Announce
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Grab tag name
        uses: olegtarasov/get-tag@v2.1.2
        id: tagName
      - name: Dispatch Release Event
        uses: peter-evans/repository-dispatch@v2.1.1
        with:
          token: '${{ secrets.ORG_PUBLIC_REPO_WORKFLOW_TRIGGERING }}'
          repository: http4k/http4k-connect
          event-type: http4k-connect-release
          client-payload: '{"version": "${{ needs.check-new-version.outputs.version }}"}'
